
<div ng-controller="routineCtrl"> 

<br>
<div id="exportthis" class="table-responsive" >
  <h1 align="center">Workout Routine </h1>

<br>
 
 <table id="workoutRoutine" class="w3-table w3-border w3-bordered  "  align="center" >
  <tr  align="right-side">
	<th id="week"><div style="text-align: center;"><span>Week/Day</th>
    <th id="day1"><div style="text-align: center;"><span>Day 1</th>
    <th id="day2"><div style="text-align: center;"><span>Day 2</th>
	<th id="day3"><div style="text-align: center;"><span>Day 3</th>
    <th id="day4"><div style="text-align: center;"><span>Day 4</th>
	<th id="day5"><div style="text-align: center;"><span>Day 5</th>
  </tr>
 
 
<tr id="rows" class="w3-hover-blue"  >
<td >Week 1</td>
	<td><ul ng-repeat="x in records | filter: {'dayNo' : 'WeekOneDayOne' }">
  <li >
    <output type="text"  ng-bind="x.ex_name + ' ' + x.numberOfSets + ' X ' + x.numberOfReps ">
  </li>
 </ul>
 
</td>
	
<td><ul>
  <li ng-repeat="x in records | filter: {'dayNo' : 'WeekOneDayTwo' }">
    <output type="text"  ng-bind="x.ex_name + ' ' + x.numberOfSets + ' X ' + x.numberOfReps ">
  </li>
</ul>

</td>
<td><ul>
  <li ng-repeat="x in records | filter: {'dayNo' : 'WeekOneDayThree' }">
    <output type="text"  ng-bind="x.ex_name + ' ' + x.numberOfSets + ' X ' + x.numberOfReps ">
  </li>
</ul>

	</td>
			<td  ><ul>
  <li ng-repeat="x in records | filter: {'dayNo' : 'WeekOneDayFour' }">
    <output type="text"  ng-bind="x.ex_name + ' ' + x.numberOfSets + ' X ' + x.numberOfReps ">
  </li>
</ul>

	</td>
			<td  ><ul>
  <li ng-repeat="x in records | filter: {'dayNo' : 'WeekOneDayFive' }">
    <output type="text"  ng-bind="x.ex_name + ' ' + x.numberOfSets + ' X ' + x.numberOfReps ">
  </li>
</ul>

	</td>
</tr>

<tr>
<td></td>
<td><div style="text-align: center;"><span><button  ng-disabled="!dailyFlag[0]" ng-click="getExVal('WeekOneDayOne')"  class="w3-btn w3-light-grey w3-padding-4" role="button" >Track It</button></span></td>
<td><div style="text-align: center;"><span><button  ng-disabled="!dailyFlag[1]" ng-click="getExVal('WeekOneDayTwo')"   class="w3-btn w3-light-grey w3-padding-4" role="button">Track It</button></span></td>
<td><div style="text-align: center;"><span><button  ng-disabled="!dailyFlag[2]"  ng-click="getExVal('WeekOneDayThree')"  class="w3-btn w3-light-grey w3-padding-4" role="button">Track It</button></span></td>
<td><div style="text-align: center;"><span><button  ng-disabled="!dailyFlag[3]"  ng-click="getExVal('WeekOneDayFour')"  class="w3-btn w3-light-grey w3-padding-4" role="button">Track It</button></span></td>
<td><div style="text-align: center;"><span><button  ng-disabled="!dailyFlag[4]"  ng-click="getExVal('WeekOneDayFive')"   class="w3-btn w3-light-grey w3-padding-4" role="button">Track It</button></span></td>

</tr>


<tr id="rows" class="w3-hover-blue"  >
<td>Week 2</td>
	<td  ><ul>
  <li ng-repeat="x in records | filter: {'dayNo' : 'WeekTwoDayOne' }">
    <output type="text"  ng-bind="x.ex_name + ' ' + x.numberOfSets + ' X ' + x.numberOfReps ">
  </li>
</ul>
	</td>
	
<td><ul>
 <li ng-repeat="x in records | filter: {'dayNo' : 'WeekTwoDayTwo' }">
    <output type="text"  ng-bind="x.ex_name + ' ' + x.numberOfSets + ' X ' + x.numberOfReps ">
 </li>
</ul>

	</td>
			<td  ><ul>
  <li ng-repeat="x in records | filter: {'dayNo' : 'WeekTwoDayThree' }">
    <output type="text"  ng-bind="x.ex_name + ' ' + x.numberOfSets + ' X ' + x.numberOfReps ">
  </li>
</ul>

	</td>
			<td  ><ul>
  <li ng-repeat="x in records | filter: {'dayNo' : 'WeekTwoDayFour' }">
    <output type="text"  ng-bind="x.ex_name + ' ' + x.numberOfSets + ' X ' + x.numberOfReps ">
  </li>
</ul>

	</td>
			<td  ><ul>
  <li ng-repeat="x in records | filter: {'dayNo' : 'WeekTwoDayFive' }">
    <output type="text"  ng-bind="x.ex_name + ' ' + x.numberOfSets + ' X ' + x.numberOfReps ">
  </li>
</ul>

	</td>
</tr>

<tr>
<td></td>
<td><div style="text-align: center;"><span><button  ng-disabled="!dailyFlag[5]"  ng-click="getExVal('WeekTwoDayOne')"  class="w3-btn w3-light-grey w3-padding-4" role="button" >Track It</button></span></td>
<td><div style="text-align: center;"><span><button  ng-disabled="!dailyFlag[6]"  ng-click="getExVal('WeekTwoDayTwo')"   class="w3-btn w3-light-grey w3-padding-4" role="button">Track It</button></span></td>
<td><div style="text-align: center;"><span><button  ng-disabled="!dailyFlag[7]"  ng-click="getExVal('WeekTwoDayThree')"   class="w3-btn w3-light-grey w3-padding-4" role="button">Track It</button></span></td>
<td><div style="text-align: center;"><span><button  ng-disabled="!dailyFlag[8]"  ng-click="getExVal('WeekTwoDayFour')"   class="w3-btn w3-light-grey w3-padding-4" role="button">Track It</button></span></td>
<td><div style="text-align: center;"><span><button  ng-disabled="!dailyFlag[9]"  ng-click="getExVal('WeekTwoDayFive')"   class="w3-btn w3-light-grey w3-padding-4" role="button">Track It</button></span></td>

</tr>


<tr id="rows" class="w3-hover-blue"  >
<td>Week 3</td>
	<td  ><ul>
  <li ng-repeat="x in records | filter: {'dayNo' : 'WeekThreeDayOne' }">
    <output type="text"  ng-bind="x.ex_name + ' ' + x.numberOfSets + ' X ' + x.numberOfReps ">
  </li>
</ul>

	</td>
	
		<td  ><ul>
  <li ng-repeat="x in records | filter: {'dayNo' : 'WeekThreeDayTwo' }">
    <output type="text"  ng-bind="x.ex_name + ' ' + x.numberOfSets + ' X ' + x.numberOfReps ">
  </li>
</ul>

	</td>
			<td  ><ul>
  <li ng-repeat="x in records | filter: {'dayNo' : 'WeekThreeDayThree' }">
    <output type="text"  ng-bind="x.ex_name + ' ' + x.numberOfSets + ' X ' + x.numberOfReps ">
  </li>
</ul>

	</td>
			<td  ><ul>
  <li ng-repeat="x in records | filter: {'dayNo' : 'WeekThreeDayFour' }">
    <output type="text"  ng-bind="x.ex_name + ' ' + x.numberOfSets + ' X ' + x.numberOfReps ">
  </li>
</ul>

	</td>
			<td  ><ul>
  <li ng-repeat="x in records | filter: {'dayNo' : 'WeekThreeDayFive' }">
    <output type="text"  ng-bind="x.ex_name + ' ' + x.numberOfSets + ' X ' + x.numberOfReps ">
  </li>
</ul>

	</td>
</tr>

<tr>
<td></td>
<td><div style="text-align: center;"><span><button  ng-disabled="!dailyFlag[10]"  ng-click="getExVal('WeekThreeDayOne')"  class="w3-btn w3-light-grey w3-padding-4" role="button" >Track It</button></span></td>
<td><div style="text-align: center;"><span><button  ng-disabled="!dailyFlag[11]"   ng-click="getExVal('WeekThreeDayTwo')"  class="w3-btn w3-light-grey w3-padding-4" role="button">Track It</button></span></td>
<td><div style="text-align: center;"><span><button  ng-disabled="!dailyFlag[12]"   ng-click="getExVal('WeekThreeDayThree')"   class="w3-btn w3-light-grey w3-padding-4" role="button">Track It</button></span></td>
<td><div style="text-align: center;"><span><button  ng-disabled="!dailyFlag[13]"   ng-click="getExVal('WeekThreeDayFour')"   class="w3-btn w3-light-grey w3-padding-4" role="button">Track It</button></span></td>
<td><div style="text-align: center;"><span><button  ng-disabled="!dailyFlag[14]"   ng-click="getExVal('WeekThreeDayFive')"   class="w3-btn w3-light-grey w3-padding-4" role="button">Track It</button></span></td>

</tr>


<tr id="rows" class="w3-hover-blue"  >
<td>Week 4</td>
	<td  ><ul>
  <li ng-repeat="x in records | filter: {'dayNo' : 'WeekFourDayOne' }">
    <output type="text"  ng-bind="x.ex_name + ' ' + x.numberOfSets + ' X ' + x.numberOfReps ">
  </li>
</ul>

	</td>
	
		<td  ><ul>
  <li ng-repeat="x in records | filter: {'dayNo' : 'WeekFourDayTwo' }">
    <output type="text"  ng-bind="x.ex_name + ' ' + x.numberOfSets + ' X ' + x.numberOfReps ">
  </li>
</ul>

	</td>
			<td  ><ul>
  <li ng-repeat="x in records | filter: {'dayNo' : 'WeekFourDayThree' }">
    <output type="text"  ng-bind="x.ex_name + ' ' + x.numberOfSets + ' X ' + x.numberOfReps ">
  </li>
</ul>

	</td>
			<td  ><ul>
  <li ng-repeat="x in records | filter: {'dayNo' : 'WeekFourDayFour' }">
    <output type="text"  ng-bind="x.ex_name + ' ' + x.numberOfSets + ' X ' + x.numberOfReps ">
  </li>
</ul>

	</td>
<td  ><ul>
  <li ng-repeat="x in records | filter: {'dayNo' : 'WeekFourDayFive' }">
    <output type="text"  ng-bind="x.ex_name + ' ' + x.numberOfSets + ' X ' + x.numberOfReps ">
  </li>
</ul>

	</td>
</tr>

<tr>
<td></td>
<td><div style="text-align: center;"><span><button  ng-disabled="!dailyFlag[15]"  ng-click="getExVal('WeekFourDayOne')"  class="w3-btn w3-light-grey w3-padding-4" role="button" >Track It</button></span></td>
<td><div style="text-align: center;"><span><button  ng-disabled="!dailyFlag[16]"  ng-click="getExVal('WeekFourDayTwo')"  class="w3-btn w3-light-grey w3-padding-4" role="button">Track It</a></td>
<td><div style="text-align: center;"><span><button  ng-disabled="!dailyFlag[17]"   ng-click="getExVal('WeekFourDayThree')"  class="w3-btn w3-light-grey w3-padding-4" role="button">Track It</a></td>
<td><div style="text-align: center;"><span><button  ng-disabled="!dailyFlag[18]"   ng-click="getExVal('WeekFourDayFour')"   class="w3-btn w3-light-grey w3-padding-4" role="button">Track It</a></td>
<td><div style="text-align: center;"><span><button  ng-disabled="!dailyFlag[19]"   ng-click="getExVal('WeekFourDayFive')"   class="w3-btn w3-light-grey w3-padding-4" role="button">Track It</a></td>

</tr>

 

</table>
<br>
</div>

<table align="center">
<tr>
<td>
<div style="text-align: left-side;"><span><button ng-click="downloadPDF()" class="w3-btn w3-blue w3-padding-8" role="button"> Download as PDF </button>
<td>
<div style="text-align: left-side;"><span>&nbsp;<a href="#/weeklyProgress/" class="w3-btn w3-blue w3-padding-8" role="button"> Weekly Progress </a>
<td>
<div style="text-align: left-side;"><span>&nbsp;<button ng-click="delRoutine()" class="w3-btn w3-blue w3-padding-8" role="button"> Delete Routine </button>
</table>

</div>



