<div ng-controller="foodCtrl as ctrl"> 

  <h1 align="center">Browse Food</h1>
  
	<div>
		<input 	ng-model="ctrl.id" 
				class="form-control" 
				type="text" 
				placeholder="Filter food by name">
		
		<p />
	</div>
	
	
	<div>
		<!--ul><input type="radio" name="food" ng-model="selectedMeal" value="" > ALL FOODS</ul>
		< select ng-options="x for cat in foodcategorylist"-->
		<select ng-model="selectedCategory" ng-options="x.client_id for x in foodOptions">
			<option name="food" selected="selected" value="" > Choose food category </option>
		</select>
		<button ng-click="filter(selectedCategory)"> Filter! </button>
		
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
					  <th>Description</th>
					  <th>Calories</th>
					  <th>Protein</th>
					  <th>Fat</th>
					  <th>Carbs</th>
					</tr>
				</thead>
				<tbody ng-repeat="list in fullfoodlist | filter:{client_id: selectedMeal} | filter:{description: ctrl.id}">
					<tr>
					  <td ng-bind="list.description"></td>
					  <td>{{list.calories}}</td>
					  <td>{{list.protein}}</td>
					  <td>{{list.fat}}</td>
					  <td>{{list.carbs}}</td>
					</tr>
				</tbody>
			</table>
	
	</div>
</div>
